<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Узнать показания</title>
</head>
<body>
    <h1>Данные показания счётчиков</h1>
        <form action="{{ url_for('vba.get_readings') }}" method="post">
            <label for="passport">Для того, чтобы узнать информацию о показаниях счётчиков введите ваши паспортные данные</label>
            <input type="text" id="passport" placeholder="passport" name="passport">
            <input type="submit" value="submit">
        </form>
    <p>Вернуться на домашнюю страницу: <a href="http://127.0.0.1:5005/vba">Домашняя страница</a></p>
</body>
</html>