<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Учёт оплаты комунальных услуг</title>
</head>
<body>
    <h1>Веб приложение «Учёт оплаты коммунальных услуг»</h1><br>
        <p>Если вы не зарегистрированы в базе, перейдите по следующей ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/reg_user" target="_blank">Регистрация в базе данных</a></em>
        <p>Для удаления персональных данных из базы перейдите по следующей ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/delete_user" target="_blank">Удаление пользователя</a></em>
        <p>Для обновления данных показания счётчиков перейдите по следующей ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/update_readings" target="_blank">Обновление показаний</a></em>
        <p>Для получения данных о показаниях счётчиков перейдите по следующей ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/get_readings" target="_blank">Узнать показания</a></em>
        <p>Для оплаты долга перейдите по следующей ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/update_debt" target="_blank">Оплатить долг</a></em>
        <p>Для получении данных об остатке долга перейдите по ссылке:</p>
            <em><a href="http://127.0.0.1:5005/vba/get_debt" target="_blank">Узнать остаток долга</a></em>
</body>
</html>