<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ошибка</title>
</head>
<body>
    <h1>При внесении показний возникла ошибка</h1>
        <p>Вернуться к форме для обновления показаний: <a href="http://127.0.0.1:5005/vba/update_readings"></a></p>
        <p>Вернуться на домашнюю страницу: <a href="http://127.0.0.1:5005/vba">Домашняя страница</a></p>
</body>
</html>