<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обновить показания</title>
</head>
<body>
<h1>Обновить показания счётчиков</h1>
    <form action="{{ url_for('vba.update_readings') }}" method="post">
        <label for="passport">Введите ваши паспортные данные:</label>
        <input type="text" id="passport" name="passport" placeholder="passport" required><br><br>

        <label for="electricity">Введите показания счётчика электричества:</label>
        <input type="text" id="electricity" name="electricity" placeholder="Укажите ваши показания" required><br><br>

        <label for="cold_water">Введите показания счётчика холодной воды:</label>
        <input type="text" id="cold_water" name="cold_water" placeholder="Укажите ваши показания" required><br><br>

        <label for="hot_water">Введите показания счётчика горячей воды:</label>
        <input type="text" id="hot_water" name="hot_water" placeholder="Укажите ваши показания" required><br><br>

        <label for="gas">Введите показания счётчика газа(если вы используете газ):</label>
        <input type="text" id="gas" name="gas" placeholder="Укажите ваши показания"><br><br>

        <input type="submit" value="Отправить">
    </form>
    <p>Вернуться на домашнюю страницу: <a href="http://127.0.0.1:5005/vba">Домашняя страница</a></p>
</body>
</html>